@media (max-width: 1279.98px) {
  .buy-phone-page {
    padding: 80px 24px 48px 24px;
  }

  .buy-phone-page -title {
    padding-top: 93px;
  }

  .buy-phone-page-title > h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.43;
  }

  .buy-phone-page-title > h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
  }
  .condition-description-content {
    padding: 16px;
  }
}

@media (min-width: 1280px) {
  .condition-description-content {
    width: calc(11vw + 62%);
    margin: auto;
    padding: 0 !important;
  }

  .buy-phone-page {
    padding-top: 112px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
  }

  .buy-phone-page .buy-phone-content {
    max-width: 62%;
    min-width: 800px;
    flex-basis: 62%;
  }

  .buy-phone-page .buy-phone-page-title {
    padding-left: 24px;
    padding-right: 24px;
  }

  .buy-phone-page .buy-phone-page-title > h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .buy-phone-page .buy-phone-page-title > h2 {
    font-size: 14px;
    font-weight: 400;
  }

  .buy-phone-page .buy-phone-search-form {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px 8px 20px;
    z-index: 1;
    top: 64px;
    background: #ffffff;
    position: sticky;
  }

  .buy-phone-page .buy-phone-search-form .select-search {
    flex-basis: 80%;
    height: 43.5px;
  }

  .buy-phone-page .buy-phone-search-form .select-search input {
    width: 100%;
    padding: 3px;
    height: 43.5px;
  }

  .buy-phone-page .buy-phone-search-form input::placeholder {
    color: #c3c3c3;
  }
  .buy-phone-page .buy-phone-search-form .form-search-icon {
    display: none;
  }

  .buy-phone-page .buy-phone-search-form .search-button {
    background: linear-gradient(180deg, #1ab4e7, #3498db);
    color: #fff;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    flex-basis: 16%;
    line-height: 1.75;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    border: none;
  }

  .buy-phone-page .buy-phone-search-form .select-search__select {
    background: #ffffff;
    z-index: 1300;
    border: 1px solid #e2e2e2;
  }

  .buy-phone-page .buy-phone-search-form .select-search__select ul {
    width: 100%;
  }

  .buy-phone-page .buy-phone-search-form .select-search__select li {
    list-style-type: none;
    width: 100%;
    cursor: pointer;
  }

  .buy-phone-page .buy-phone-search-form .select-search__select li button {
    background: none;
    border: none;
    margin: 8px 0;
    width: 100%;
    text-align: start;
  }

  .buy-phone-page .carrier-options {
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    margin-top: 16px;
  }

  .buy-phone-page .carrier-options .carrier-option {
    font-size: 12px;
    color: rgb(132, 132, 132);
    background: rgb(255, 255, 255);
    border: 1px solid #e9e9e9;
    cursor: pointer;
    padding: 8px 0;
    display: flex;
    justify-content: center;
  }

  .buy-phone-page .carrier-options .carrier-option:hover {
    color: #ffffff;
    background: linear-gradient(rgb(26, 180, 231) 0%, rgb(52, 152, 219) 100%);
  }

  .buy-phone-page .carrier-options .selected-carrier-option {
    color: #ffffff;
    background: linear-gradient(rgb(26, 180, 231) 0%, rgb(52, 152, 219) 100%);
    outline: none;
  }

  .buy-phone-page .option-controllers {
    padding: 8px 24px;
    background-color: #ffffff;
  }

  .buy-phone-page .option-controllers .filters-controller {
    display: none;
  }

  .buy-phone-page .desktop-sort {
    color: rgb(0, 0, 0);
  }

  .buy-phone-page .mobile-sort {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: " ";
}
.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}
.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.85);
  transition: none;
}
.rc-pagination-item a:hover {
  text-decoration: none;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: #1890ff;
  transition: all 0.3s;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #1890ff;
}
.rc-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #1890ff;
}
.rc-pagination-item-active a {
  color: #1890ff;
}
.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  border-color: #40a9ff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #40a9ff;
}
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: "•••";
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: #40a9ff;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}
.rc-pagination-prev button:after {
  content: "‹";
  display: block;
}
.rc-pagination-next button:after {
  content: "›";
  display: block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination-slash {
  margin: 0 10px 0 5px;
}
.rc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}
.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: #1890ff;
}
.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}
