@media (max-width: 1279.98px) {
  .copy-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3d3d3d;
    background-color: #fff;
    width: 100%;
    padding: 15px 18px;
    margin-top: 65px;
  }
  .coupon-code {
    font-size: 30px;
    font-weight: 400;
    margin-right: 12px;
  }
  .copy-button {
    max-height: 40px;
    min-width: 103px;
  }

  .tip {
    font-size: 24px;
    margin-top: 38px;
    color: #fffcfc;
  }

  .redirect-url {
    text-decoration: underline;
  }

  .next-button {
    margin-top: 56px;
    max-height: 40px;
    min-width: 168px;
  }
}

@media (min-width: 1280px) {
  .copy-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 6px 16px 6px 30px;
    color: #3d3d3d;
    margin-top: 88px;
  }
  .coupon-code {
    font-size: 42px;
    font-weight: 400;
    margin-right: 56px;
  }

  .copy-button {
    max-height: 40px;
    min-width: 132px;
  }

  .tip {
    font-size: 32px;
    margin-top: 72px;
    color: #fffcfc;
  }

  .redirect-url {
    text-decoration: underline;
  }

  .next-button {
    margin-top: 72px;
    max-height: 40px;
    min-width: 246px;
  }
}
