@media (min-width: 1280px) {
  .sell-phone-page {
    padding: 112px 13% 48px;
    min-height: 80vh;
  }
  .sell-phone-page h1 {
    font-size: 40px;
    font-weight: 600;
    color: #000;
    line-height: 41px;
  }
  .sell-phone-page h2 {
    font-size: 14px;
    color: #323232;
  }
  .search-content {
    position: relative;
    display: flex;
    column-gap: 20px;
  }
  .select-search {
    height: 40px;
    flex: 1;
  }
  .select-search input {
    width: 100%;
    padding: 3px 3px 3px 21px;
    height: 45px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
  }
  .select-search input::placeholder {
    font-size: 14px;
    color: #c3c3c3;
  }
  .select-search__select {
    background: #fff;
    z-index: 1300;
    border: 1px solid #e2e2e2;
  }
  .select-search__select ul {
    width: 100%;
    background: #fff;
  }
  .select-search__select li {
    list-style-type: none;
    width: 100%;
    cursor: pointer;
    background: #fff;
  }
  .select-search__select li button {
    background: 0;
    border: 0;
    margin: 8px 0;
    width: 100%;
    text-align: start;
    background: #fff;
  }
  .search-button {
    background: linear-gradient(
      90deg,
      #53b2e2 0,
      #53b2e2 0,
      #5098d5 100%,
      #5098d5 100%
    );
    color: #fff;
    border-radius: 5px;
    outline: 0;
    box-shadow: none;
    line-height: 1.75;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 44px;
    border: 0;
  }
  .shortcuts {
    margin-top: 70px;
    font-size: 18px;
    font-weight: 500;
    color: #3d3d3d;
  }
  .shortcuts-content {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 18px;
    font-weight: 500;
    color: #509cd7;
    text-decoration: underline;
    cursor: pointer;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 12px;
  }
  .choose-condition-title {
    font-size: 15px;
    margin-top: 44px;
    font-weight: 400;
  }
  .choose-condition-title > strong {
    font-weight: 600;
  }
  .conditions {
    padding-top: 8px;
    margin-bottom: 52px;
  }
  .condition-description-tips {
    font-size: 16px;
    margin-top: 16px;
  }
  .condition-title {
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0;
  }
  .condition-options {
    display: flex;
    column-gap: 12px;
  }
  .condition-option {
    width: 96px;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    color: #8f8f8f;
  }
  .condition-option.selected {
    background: linear-gradient(
      90deg,
      #53b2e2 0,
      #53b2e2 0,
      #5098d5 100%,
      #5098d5 100%
    );
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .condition-tooltip {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    padding: 64px;
  }
  .condition-description-item {
    display: flex;
    align-items: center;
    column-gap: 74px;
    margin-bottom: 18px;
  }
  .condition-card {
    width: 146px;
    padding: 4px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .condition-description-tooltip {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .condition-description-item .description {
    font-size: 12px;
    flex: 1;
  }
  .condition-description-item .tips {
    font-size: 12px;
    font-weight: 400;
    color: #3d3d3d;
  }
  .condition-description-item .tips > strong {
    text-decoration: underline;
    font-weight: 700;
  }
  .form-search-icon {
    display: none;
  }
  .trade-type {
    font-size: 18px;
    color: #fff;
    border-radius: 999px;
    width: 102px;
    display: flex;
    justify-content: center;
  }
  .Trade-In {
    background-color: #509bd7;
  }
  .Cash {
    background-color: #58a55b;
  }
}
@media (max-width: 1279.98px) {
  .mobile-phone-list .phone-list-item .bottom .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 82px;
  }
  .condition-description-tips {
    margin-top: 36px;
    margin-bottom: 64px;
  }
  .search-button {
    display: none;
  }
  .sell-phone-page {
    padding: 80px 24px 48px;
  }
  .sell-phone-page h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.43;
  }
  .sell-phone-page h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
  }
  .search-content {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 26px;
  }
  .select-search {
    height: 40px;
    flex: 1;
  }
  .select-search input {
    width: 100%;
    padding: 3px 3px 3px 21px;
    height: 45px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
  }
  .select-search input::placeholder {
    font-size: 14px;
    color: #c3c3c3;
  }
  .select-search__select {
    background: #fff;
    z-index: 1300;
    border: 1px solid #e2e2e2;
  }
  .select-search__select ul {
    width: 100%;
    background: #fff;
  }
  .select-search__select li {
    list-style-type: none;
    width: 100%;
    cursor: pointer;
    background: #fff;
  }
  .select-search__select li button {
    background: 0;
    border: 0;
    margin: 8px 0;
    width: 100%;
    text-align: start;
    background: #fff;
  }
  .search-button {
    background: linear-gradient(
      90deg,
      #53b2e2 0,
      #53b2e2 0,
      #5098d5 100%,
      #5098d5 100%
    );
    color: #fff;
    border-radius: 5px;
    outline: 0;
    box-shadow: none;
    line-height: 1.75;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 44px;
    border: 0;
    margin-top: 58px;
  }
  .shortcuts {
    margin-top: 70px;
    font-size: 18px;
    font-weight: 500;
    color: #3d3d3d;
  }
  .shortcuts-content {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
    font-weight: 500;
    color: #509cd7;
    text-decoration: underline;
    cursor: pointer;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 12px;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  .choose-condition-title {
    font-size: 15px;
    margin-top: 44px;
  }
  .choose-condition-title > strong {
    font-weight: 600;
  }
  .form-search-icon {
    width: 24px;
    height: 24px;
  }
  .conditions {
    padding-top: 8px;
  }
  .condition-title {
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0;
  }
  .condition-tooltip {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    width: calc(100vw - 16px);
    padding: 8px;
  }
  .condition-description-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 18px;
  }
  .condition-card {
    width: 103px;
    padding: 4px 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .condition-description-item .description {
    font-size: 12px;
    flex: 1;
  }
  .condition-description-item .tips {
    font-size: 12px;
    font-weight: 600;
    color: #3d3d3d;
  }
  .condition-description-item .tips > strong {
    text-decoration: underline;
    font-weight: 700;
  }
  .condition-description-tooltip {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .condition-options {
    display: flex;
    column-gap: 12px;
    overflow-x: scroll;
    width: 1005;
  }
  .condition-option {
    min-width: 96px;
    max-width: 96px;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    color: #8f8f8f;
  }
  .condition-option.selected {
    background: linear-gradient(
      90deg,
      #53b2e2 0,
      #53b2e2 0,
      #5098d5 100%,
      #5098d5 100%
    );
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .trade-type {
    font-size: 13px;
    color: #fff;
    padding: 0 18px;
    border-radius: 999px;
  }
  .Trade-In {
    background-color: #509bd7;
  }
  .phone-list-item .price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Cash {
    background-color: #58a55b;
  }
  .phone-list-item .bottom {
    padding-bottom: 32px;
  }
}
.LIKE-NEW {
  background-color: #5085eb;
}
.GOOD {
  background-color: #58a55b;
}
.FAIR {
  background-color: #f2be42;
}
.CRACKED {
  background-color: #d95040;
}
.border {
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
}

@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: " ";
}
.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}
.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.85);
  transition: none;
}
.rc-pagination-item a:hover {
  text-decoration: none;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: #1890ff;
  transition: all 0.3s;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #1890ff;
}
.rc-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #1890ff;
}
.rc-pagination-item-active a {
  color: #1890ff;
}
.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  border-color: #40a9ff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #40a9ff;
}
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: "•••";
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: #40a9ff;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}
.rc-pagination-prev button:after {
  content: "‹";
  display: block;
}
.rc-pagination-next button:after {
  content: "›";
  display: block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination-slash {
  margin: 0 10px 0 5px;
}
.rc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}
.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: #1890ff;
}
.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}
